<!DOCTYPE html >
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>精准测试系统</title>
    <style>
        tr {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="div-center" align="center">

<h1>精准测试系统</h1>
<table width="1000px" cellspacing="0">
    <tr>
        <th>项目组别</th>
        <th>当前版本</th>
        <th>上一个版本</th>
        <th></th>
    </tr>
    <tr>
        <td>项目名示例</td>
        <td>2.0.0</td>
        <td>1.0.0</td>
        <td><a href="">查看静态分析结果</a></td> <!--或者用超链接-->
    </tr>
    <tr th:each="projectVersionVo:${projectVersionVoList}">
        <td th:text="${projectVersionVo.getGroupID()}"></td>
        <td th:text="${projectVersionVo.getPresentVersion()}"></td>
        <td th:text="${projectVersionVo.getPreviousVersion()}"></td>
        <td ><a th:href="'/analysis_result/'+ ${projectVersionVo.getGroupID()}">查看静态分析结果</a></td>
    </tr>
</table>

<button id="upload_btn">上传新项目</button>
</div>
</body>


<script type="text/javascript">
    window.onload = function() {
        document.getElementById("upload_btn").onclick = function() {
            console.log("跳转到上传页面");
            window.location.href="/upload"
        }
    }
</script>

</html>