<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传结果展示</title>
    <!--用于本地调试-->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <!--用于线上-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>

</head>
<body>

<div id="center-div" align="center">

<h1>上传结果</h1>
    <h2 th:text="${message}">上传结果显示</h2>

    <a class="btn btn-primary btn-info" href="/">返回主页</a>

</div>

</body>

</html>