<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传项目</title>
    <style type="text/css">
        .td-left{
            text-align: left;
        }
        .td-right{
            text-align: right;
        }
    </style>
    <!--用于本地调试-->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <!--用于线上-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
</head>
<body>



<div id="center-div" align="center">
<h1>项目上传页面</h1>

    <form method="post" action="/uploadFile" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="td-left">组别号</td>
                <td class="td-right"><input type="text" name="project-id" placeholder="项目组别号.."/></td>
            </tr>
            <tr>
                <td class="td-left">版本号</td>
                <td class="td-right"><input type="text" name="project-version" placeholder="项目版本号.."/></td>
            </tr>
            <tr>

                <td class="td-left">
                    <input type="file" name="project-zip">
                </td>
                <td class="td-right">
                    <input type="submit" value="上传">
                </td>

                <!--<td class="td-left">-->
                    <!--&lt;!&ndash; html5支持选择文件夹上传 &ndash;&gt;-->
                    <!--<input type="file" name="project-folder" multiple webkitdirectory="">-->
                <!--</td>-->
                <!--<td class="td-right">-->
                    <!--<input type="submit" value="上传">-->
                <!--</td>-->
            </tr>

        </table>


    </form>

</div>

</body>
</html>